  <div class="h2">Course</div>
<hr style="margin: 16px 0 20px 0" class="hr-custom">
   <form class="flex-column gap-16" [formGroup]="form">
     <div class="flex-column gap-20">

       <div>
       <label>Title</label>
       <input placeholder="Title" class="input-primary" type="text" formControlName="name" [ngClass]="{'input-primary-invalid' :
       form.controls.name.touched && form.controls.name.invalid || ( form.controls.name.invalid && invalid) } ">
       </div>

       <div>
       <label>Teacher</label>
       <app-user-select [options]="teachers"
                   [search]="true"
                   [field]="form.controls.teacherId"
                   [invalid]="form.controls.teacherId.touched && form.controls.teacherId.invalid || ( form.controls.teacherId.invalid && invalid)"
                   [defaultPlaceholder]="'Select a teacher...'"
                   [searchPlaceholder]="'Search by last name'">
       </app-user-select></div>
     </div>

   <hr style="margin: 22px -32px 17px -32px" class="hr-custom">
     <div style="width: 500px; margin: -32px; background: #FCFCFC; border-radius: 0 0 12px 12px; padding: 24px 32px 30px 32px">
       <div class="right-align">
         <button class="btn-cancel" (click)="closeModal()">Cancel</button>
         <button class="btn-main" (click)="add()" >Continue</button>
       </div>
     </div>

  </form>

