<app-header></app-header>
<app-sidebar [activeLink]="'courses'"></app-sidebar>

<ng-container *ngxPermissionsOnly="[ROLE.REFERENT, ROLE.ADMIN]">
<app-course-invite-modal *ngIf="invitePopup" (switchInviteModal)="switchInviteModal()" [url]="url" [id]="id">
</app-course-invite-modal>
</ng-container>

<app-course-assessment  *ngIf="assessmentPopup"
                        [detailedSub]="detailedSub"
                        [userId]="detailedSubject.teacherId"
                        [passwordReq]="detailedSubject.teacherPasswordRequired">
</app-course-assessment>

<main>

  <div *ngIf="detailedSubject!=null" class="main-wrap">
    <div class="breadcrumbs">
      <a [routerLink]="'/'" class="crumb-link">Home</a>
      <i class="crumb-arrow"></i>
      <a [routerLink]="'/courses'"  class="crumb-link">Courses</a>
      <i class="crumb-arrow"></i>
      <a  [href]="currentPageUrl" class="crumb-link crumb-link-active">{{detailedSubject.name}}</a>
    </div>

    <div class="flex-center-spaceBetween mb-12">
      <span class="h1">{{detailedSubject.name}}</span>

      <div class="gap-12 flex-center">

<!--STUDENT CONTROLS-->
        <ng-container *ngxPermissionsOnly="ROLE.STUDENT">

            <button *ngIf="!isSubscribed; else: subscribedStudent" class="btn-main"
                    [disabled]="!detailedSubject.accessible || detailedSubject.status==STATUS.CANCELLED
                    || detailedSubject.status==STATUS.REFUSED" (click)="subscribeForCourse()">Subscribe
            </button>
            <ng-template #subscribedStudent>
                <button [disabled]="!detailedSubject.accessible" class="btn-secondary"
                (click)="unsubscribeFromCourse()">Unsubscribe
                </button>
            </ng-template>

        </ng-container>

<!--ADMIN CONTROLS-->
        <button *ngxPermissionsOnly="[ROLE.ADMIN, ROLE.REFERENT]"
            [routerLink]="['/courses', detailedSubject.id,'edit']" class="btn-secondary">Edit course
        </button>

        <button (click)="switchInviteModal()" style="cursor: auto" class="tooltip btn-onlyicon">
        <span style="bottom: 48px" class="tooltiptext">Subscribers</span>
        <i class="users-icon"> </i> {{subscriptionCourses.length}} </button>
  </div>

</div>
    <div class="flex-center-spaceBetween" style="margin-bottom: 32px">
    <div class="flex-center">
      <span class="h4">Taught by</span>
      <img class="teacher-avatar" src="https://www.fpv.umb.sk/app/accountJpegPhoto.php?ID=9457&width=202" >
      <span class="h3">{{detailedSubject.teacherFirstName + " " + detailedSubject.teacherLastName}}</span>
      <div class="vl"></div>
      <span class="h4">Last update: {{detailedSubject.lastChangeDate}}</span>
      <div class="vl"></div>
      <div *ngIf="detailedSubject.status == STATUS.APPROVED"  class="tooltip flex-center">
        <span style="bottom: 24px; left: 100%" class="tooltiptext">{{detailedSubject.status | textTransform}}</span>
        <i class="approved-icon"></i>
      </div>
      <div  class="tooltip flex-center">
      <span style="bottom: 28px; left: 125%" class="tooltiptext">{{detailedSubject.status | textTransform}}</span>
      <svg *ngIf="detailedSubject.status == STATUS.REFUSED" class="copy-icon">
        <use xlink:href="#nonechecked"></use>
      </svg>
      </div>
      <div class="vl"></div>
            <span  class="h3">{{detailedSubject.subjectCode}}</span>
    </div>
    <div>
    </div>
    </div>
    <hr class="hr-custom mb-28" >


<!-- SUBSCRIPTIONS TABLE -->
   <ng-container *ngxPermissionsOnly="[ROLE.ADMIN, ROLE.REFERENT, ROLE.TEACHER]">
      <div class="flex-center-spaceBetween mb-20">
        <span class="h2">Subscriptions</span>
        <div *ngIf="toolbarVisible" class="showing flex-center-spaceBetween gap-16">
          <button (click)="exportStudent()" class="btn-secondary">Export</button>
          <span class="vertical-hr"></span>
          <button (click)="removeStudent()" class=" btn-remove"><i class="trash-icon"></i>Remove</button>
        </div>
      </div>

      <app-subscriptions-list
        (openDetailsOfSubscription)="openDetailsOfSub($event)"
        (closeSettings)="hideToolbar()"
        (openSettings)="showToolbar()"
        (removeSubscription)="deleteStudentFromCourse($event)"
        [subscriptions]="subscriptionCourses">
      </app-subscriptions-list>
    </ng-container>

    <ng-container *ngxPermissionsOnly="[ROLE.STUDENT]">
      <div *ngIf="isSubscribed">
        <div class="mb-20"><span class="h2">My activity</span></div>
        <app-subscribed-course-info [currentSub]="subscriptionOfCurrentUser"> </app-subscribed-course-info>
      </div>
    </ng-container>

  </div>
</main>
