<app-header></app-header>
<app-sidebar [activeLink]="'courses'"></app-sidebar>

<div *ngIf="popup==true" class="backdrop" >
  <div class="modal">
    <app-course-form
      (closePopup)="closePopup()" (addCourse)="add($event)" (editCourse)="edit($event)">
    </app-course-form>
  </div>
</div>

<main>
<div class="main-wrap">
 <div class="breadcrumbs">
   <a class="crumb-link" routerLink="/">Home</a>
   <i class="crumb-arrow"></i>
   <a routerLink="/courses" class="crumb-link crumb-link-active">Courses</a>
 </div>
<div class="flex-center-spaceBetween" style=" margin-bottom: 24px;">
  <div class="h1">Courses</div>

  <div *ngxPermissionsOnly="[ROLE.ADMIN, ROLE.REFERENT]" class="flex-center gap-8">
    <button class="btn-icon">
      <svg class="btn-icon-svg">
        <use href="#cloud"></use>
      </svg></button>
    <button class="btn-icon">
      <svg class="btn-icon-svg">
        <use href="#download"></use>
      </svg></button>
  </div>

</div>
  <div class="flex-center-spaceBetween" style="margin-bottom: 20px; ">
    <div class="flex-center">
      <button style="margin-right: 12px" class="btn-secondary">Filters</button>
      <div class="filter">
        <svg class="icon">
          <use href="#search"></use>
        </svg>
        <input style="width: 260px" class="input-sea"  type="text" placeholder="Search subject by title" [(ngModel)]="searchString">
      </div>
    </div>

    <div class="flex-center-spaceBetween">
      <div *ngIf="toolbarVisible" class="gap-16 showing flex-center-spaceBetween">
        <button (click)="exportCourse()" class="btn-secondary">Export</button>
        <div *ngxPermissionsOnly="[ROLE.ADMIN]" style="border-left: 1px solid #E3E3E3; width: 1px; height: 36px"></div>
        <button *ngxPermissionsOnly="[ROLE.ADMIN]" (click)="deleteCourse()" class=" btn-remove"><i class="trash-icon"></i>Remove</button>
      </div>
      <div *ngxPermissionsOnly="[ROLE.ADMIN]">
        <div  *ngIf="!toolbarVisible" class="flex-center-spaceBetween">
          <button (click)="openPopup()" style=" margin: 0; border-radius: 8px 0 0 8px; border-right: 1px solid #4390F7" class="btn-main">
            New course</button ><button class="btn-part"> <svg class="btn-part-icon"><use xlink:href="#arrow"></use></svg> </button>
        </div>
        <!--    <div class="modal-btn">-->
        <!--    </div>-->
      </div>
      <div *ngxPermissionsOnly="[ROLE.STUDENT]">

      </div>
    </div>
  </div>
        <app-course-list (closeSettings)="hideToolbar()" (openSettings)="showToolbar()" *ngIf="tab == 1" [courses]="allCourses" [searchString]="searchString" (removeCourse)="deleteCourseFromList($event)"></app-course-list>
</div>
</main>


<div *ngIf="successAdd" class="notification-modal" ><div class="icon-success-block">
  <i class="checkmark-icon"></i>
</div>
  <span style="margin-right: 16px" class="h3">The course was successfully added</span>
</div>



<div *ngIf="successRemove" class="notification-modal" ><div class="icon-delete-block"><i class="trash-icon"></i></div>
  <span style="margin-right: 16px" class="h3"> The course was deleted</span>
</div>
