@import "src/styles/variables";
@import "src/styles/mixins";

.th-column{
  color: #5E647A;
  font-weight: 400;
  padding: 6px 10px;
  margin-left: -10px;
  transition: 0.15s;
  border-radius: 6px;
  cursor: pointer;
  fill: #C9CAD3;
  .icon-sort{
    margin-left: 4px;
    width: 10px;
    height: 10px;
  }
  &:hover{
    fill: #1B1D1F;
    color: #000000;
    background-color: #EDEDEE;
  }
}

.th-column-active{
  fill: #1B1D1F;
  color: #000000;
  background-color: #EDEDEE;
}

.notification-modal{
  @include small-modal;
  @include flex-center;
  gap: 16px;
  position: fixed;
  right: $padding-side;
  bottom: 32px;
  background-color: #fff;
  border-radius: $border-radius + 2;
}
